<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/user">Users</a></li>
        <li><a href="/job">Jobs</a></li>
        <li><a href="/savedhistory">Saved History</a></li>
    </ul>
</nav>