<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/public/css/main.css">
    <link rel="stylesheet" href="/public/css/button.css">
    <link rel="stylesheet" href="/public/css/cards.css">
    <link rel="stylesheet" href="/public/css/form.css">
    <link rel="stylesheet" href="/public/css/profile.css">
    <link rel="stylesheet" href="/public/css/comments.css">
    <link rel="stylesheet" href="/public/css/jobFeed.css">
    <link rel="stylesheet" href="/public/css/responsive.css">
    <link rel="stylesheet" href="/public/css/footer.css">
      <link rel="stylesheet" href="/public/css/errors.css">
</head>

<body>
    <header>
        <nav>
            {{> navbar }} 
        </nav>
    </header>

    <h1>{{header}}</h1>
    <main>
        {{{body}}}
    </main>

    <footer>
        <p>&copy; Tech Connect </p>
    </footer>

    <script src="/public/js/login.js"></script>
    <script src="/public/js/register.js"></script>
    <script src="/public/js/jobPost.js"></script>
</body>
</html>