<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/public/css/main.css">
</head>

<body>
    <header>
        <nav>
            {{> navbar }} 
        </nav>
    </header>

    <h1>{{header}}</h1>
    <main>
        {{{body}}}
    </main>

    <footer>
        <p>&copy; Tech Connect </p>
    </footer>
</body>
</html>